<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>CALL BACK!</title>
</head>
<body>
<!-- 	<h1 th:text="${hello}">Hello World</h1>
	<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
	<a href="http://www.baidu.com">这是首页模板页面</a>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="注销" />
	</form> -->
	<h1>CALL BACK</h1>
</body>
</html>