<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
<title>欢迎登录</title>
</head>
<body>
	<div class="container">
		<h2>SSO Center</h2>
		<div th:if="${param.error}">
			 <span style="color:red;" th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}">用户名或密码错误！</span>
		</div>
		<div th:if="${param.logout}">您已注销成功</div>
		<form th:action="@{/doLogin}" method="POST" autocomplete="off">
			姓名：<input type="text" name="username" /><br /> 密码：<input
				type="password" name="password" /><br />
			<!--	<input type="hidden"
				th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> <input
				type="text" th:value="${_csrf.token}" />-->
			<button type="submit">直接登录</button>
			<br />
			<!-- enable remember me -->
			<input type='checkbox' name="remember-me" />Remember Me? <br />
		</form>
	</div>
</body>
</html>