<html>

<head>

    <link href="../../../static/Content/js/dropper-v1.0.1/jquery.fs.dropper.css" rel="stylesheet" />
    <style>
        .demo .filelists {
            margin: 20px 0;
            font-family: 'Microsoft YaHei';
        }

        .demo .filelists h5 {
            margin: 10px 0 0;
        }

        .demo .filelists .complete {
            color: green;
        }

        .demo .filelists .queue {
            color: red;
        }

        .demo .filelist {
            margin: 0;
            padding: 10px 0;
        }

        .demo .filelist li {
            background: #fff;
            border-bottom: 1px solid #eee;
            font-size: 14px;
            height: 14px;
            list-style: none;
            padding: 5px;
        }

        .demo .filelist li:hover {
            background: #D7E9F9;
        }

        .demo .filelist li:before {
            display: none;
        }

        .demo .filelist li .file {
            color: #333;
            float: left;
        }

        .demo .filelist li .progress {
            color: #666;
            float: right;
            font-size: 10px;
            text-transform: uppercase;
        }

        .demo .filelist li .delete {
            color: red;
            cursor: pointer;
            float: right;
            font-size: 10px;
            text-transform: uppercase;
        }

        .demo .filelist li.complete .progress {
            color: green;
        }

        .demo .filelist li.error {
            width: 100%;
            margin-top: 0px;
        }

        .demo .filelist li.error .progress {
            color: red;
        }

        .demo .filelist li .optionvisable {
            visibility: visible;
            float: right;
        }

        .demo .filelist li .optionhidden {
            visibility: hidden;
            float: right;
        }

        input:read-only {
            background-color: #dddddd;
        }
    </style>

    <link href="../../../static/Content/css/style.css" rel="stylesheet" type="text/css" />
    <link href="../../../static/Content/js/layui/css/layui.css" rel="stylesheet" />
    <link href="../../../static/Content/js/jedate/skin/jedate.css" rel="stylesheet" />
    <script src="../../../static/Content/js/layui/layui.js" charset="utf-8"></script>
    <script src="../../../static/Content/js/vue/vue.js"></script>
    <script src="../../../static/Content/js/vue/vue-router.js"></script>
    <script src="../../../static/Content/js/vue/vue-resource.js"></script>
    <script src="../../../static/Content/js/jquery-1.8.3.min.js"></script>
    <script src="../../../static/Content/js/dropper-v1.0.1/jquery.fs.dropper.js"></script>
    <script src="../../../static/Content/js/jedate/jedate.js"></script>
    <script src="../../../static/global.config.js"></script>
    <script>
        var $filequeue,
            $filelist;

        $(document).ready(function () {
            // var thisURL = document.URL;
            // console.log("*******" + thisURL);
            // var getval = thisURL.split('?')[1];
            // var urlParams = getval.split("&");
            // for (var i = 0; i < urlParams.length; i++) {
            //     var key = urlParams[i].split('=')[0];
            //     var value = urlParams[i].split('=')[1];
            //     if(key=="")
            // }
            $(window).one("pronto.load", function () {
                $(".demo .dropped").dropper("destroy").off(".dropper");
            });

            $("#selectReplyTime")
                .on('click', function () {
                    jeDate({
                        dateCell: '#selectReplyTime',
                        isinitVal: true,
                        isTime: false,
                        format: 'YYYY-MM-DD'
                    });
                });
        });

        function onStart(e, files) {
            console.log("Start");
            // console.log($("#selectStateDistrict option:selected").text().trim());
            // console.log($("#selectCountryDistrict option:selected").text().trim());
            // 上传之前改写存储路径
            $(e.target).data().dropper.postData.allowUpload = true;
            $(e.target).data().dropper.postData.state = $("#selectStateDistrict option:selected").text().trim();
            $(e.target).data().dropper.postData.statecode = $("#selectStateDistrict").val();
            $(e.target).data().dropper.postData.country = $("#selectCountryDistrict option:selected").text().trim();
            $(e.target).data().dropper.postData.countrycode = $("#selectCountryDistrict").val();
            $(e.target).data().dropper.postData.plantype = $("#selectPlanType").val();
            $(e.target).data().dropper.postData.planlevel = $("#selectCountryDistrict").val().substring(4, 2) != '00' ? 3 : 2;
            $(e.target).data().dropper.postData.ennmcd = $("#selectRsProject").val();
            $(e.target).data().dropper.postData.replyUser = $("#selectReplyUser").val();
            $(e.target).data().dropper.postData.replyTime = $("#selectReplyTime").val();
            $(e.target).data().dropper.postData.replyContent = '';

            var html = '';

            for (var i = 0; i < files.length; i++) {
                html += '<li data-index="' + files[i].index + '"><span class="file">' + files[i].name + '</span><span class="progress">Queued</span></li>';
            }

            $filequeue.append(html);
        }

        function onComplete(e) {
            console.log("Complete");
            //console.log(e);
        }

        function onFileStart(e, file) {
            console.log("File Start");

            //console.log($(e.target).data().dropper.postData);
            $filequeue.find("li[data-index=" + file.index + "]")
                .find(".progress").text("0%");
        }

        function onFileProgress(e, file, percent) {
            console.log("File Progress");
            //console.log(e);

            $filequeue.find("li[data-index=" + file.index + "]")
                .find(".progress").text(percent + "%");
        }

        function onFileComplete(e, file, response) {
            console.log("File Complete");
            //console.log(e);

            console.log(response.error);
            if (response.error != "") {
                $filequeue.find("li[data-index=" + file.index + "]").addClass("error")
                    .find(".progress").text(response.error);
            } else {
                var $target = $filequeue.find("li[data-index=" + file.index + "]");

                $target.find(".file").text(file.name);
                $target.find(".progress").remove();
                $target.find(".option").attr('data-value', '');
                $target.find(".option").removeClass("optionhidden");
                $target.find(".option").addClass("optionvisable");
                $target.appendTo($filelist);
            }
        }

        function onFileError(e, file, error) {
            console.log("File Error");
            //console.log(e);

            $filequeue.find("li[data-index=" + file.index + "]").addClass("error")
                .find(".progress").text("Error: " + error);
        }
    </script>

</head>

<body style="min-width: 460px;padding:10px;">
    <div class="demo" id="app">

        <div class="tools" style="margin:10px 0px 10px 0px;">
            <ul class="toolbar">
                <li>
                    <label for="selectStateDistrict">所属市州：</label>
                    <select id="selectStateDistrict" class="datainp datasel" v-model="states.selected">
                        <option v-for="option in states.data" v-bind:value="option.value">  
                            {{ option.text }}  
                        </option>  
                    </select>
                </li>
                <li>
                    <label for="selectCountryDistrict">所属区县：</label>
                    <select id="selectCountryDistrict" class="datainp datasel" v-model="countries.selected">
                        <option v-for="option in countries.data" v-bind:value="option.value">  
                            {{ option.text }}  
                        </option>  
                    </select>
                </li>
                <!--<li>
                    <label for="selectPlanLevel">预案等级：</label>
                    <select id="selectPlanLevel" class="datainp datasel" v-model="planlevels.selected">
                        <option v-for="option in planlevels.data" v-bind:value="option.value">  
                            {{ option.text }}  
                        </option>  
                    </select>
                </li>-->
                <li>
                    <label for="selectPlanType">预案类型：</label>
                    <select id="selectPlanType" class="datainp datasel" v-model="plantypes.selected">
                        <option v-for="option in plantypes.data" v-bind:value="option.value">  
                            {{ option.text }}  
                        </option>  
                    </select>
                </li>
            </ul>
            <div style="clear:left;"></div>
            <ul class="toolbar" v-show="show">
                <li>
                    <label for="selectRsProject">所属水库：</label>
                    <select id="selectRsProject" class="datainp datasel" v-model="rsProjects.selected">
                        <option v-for="option in rsProjects.data" v-bind:value="option.value">  
                            {{ option.text }}  
                        </option>  
                    </select>
                </li>
                <li>
                    <label for="selectReplyUser">批复机构：</label>
                    <input class="datainp" id="selectReplyUser" type="text" placeholder="" value="" v-model="replyUser" />
                </li>
                <li>
                    <label for="selectReplyTime">批复时间：</label>
                    <input class="datainp wicon" id="selectReplyTime" type="text" placeholder="" value="" v-model="replyTime" />
                </li>
            </ul>
        </div>

        <div style="clear:left;"></div>
        <div>
            <div class="dropped"></div>
            <div class="filelists">
                <h5 class="complete">已完成</h5>
                <ol class="filelist complete">
                    <!--<li data-index='@index'><span class="file">xxx</span><span class="option optionvisable" data-value="@item.DFID"><a href="javascript:;" data-operation="changedir">调整路径</a>&nbsp;&nbsp;<a href="javascript:;" data-operation="download">下载</a>&nbsp;&nbsp;<a href="javascript:;" data-operation="deletefile">删除</a>&nbsp;&nbsp;<a href="javascript:;" data-operation="up">↑</a>&nbsp;&nbsp;<a href="javascript:;" data-operation="down">↓</a></span></li>-->
                </ol>
                <h5 class="queue">上传中</h5>
                <ol class="filelist queue"></ol>
            </div>
        </div>
        <script type="text/javascript">
            var token = "default";
            if (window.localStorage) {
                token = localStorage.getItem('token');
                if (!token) {
                    localStorage.setItem('token', 'default');
                    token = localStorage.getItem('token');
                }
            }
            var vm = new Vue({
                // 可单独设置HTTP属性
                http: {
                    headers: {
                        Authorization: "WJ token=" + token//window.btoa(apikey + "&signed=" + hex_md5(apikey))
                    }
                },
                el: '#app',
                data: function () {

                    return {
                        show: false,
                        states: {
                            selected: '000000',
                            data: []
                        },
                        countries: {
                            selected: '000000',
                            data: []
                        },
                        plantypes: {
                            selected: '1',
                            data: [
                                { value: '1', text: "├综合预案" },
                                { value: '2', text: '├专项预案' },
                                { value: '3', text: '　├水库预案' },
                                { value: '31', text: '　　├调度方案' },
                                { value: '32', text: '　　├度汛方案' },
                                { value: '33', text: '　　├应急预案' },
                                { value: '8', text: '　　└批复文件' },
                                { value: '6', text: '　├城市防洪预案' },
                                { value: '7', text: '　└山洪防治预案' },
                                { value: '9', text: '├其他' }
                            ]
                        },
                        planlevels: {
                            selected: '1',
                            data: [
                                { value: '1', text: '省级' },
                                { value: '2', text: '市州' },
                                { value: '3', text: '区县' }
                            ]
                        },
                        rsProjects: {
                            selected: '',
                            data: [{ value: '', text: '无' }]
                        },
                        replyUser: '',
                        replyTime: '',
                        listResult: []
                    }
                },
                watch: {
                    'states.selected': function (val, old) {
                        console.log(val);
                        console.log(old);

                        //this.upLoad();
                        this.$http.get("/api/PlatResource/QueryDistrictByStateCode?code=" + val)
                            .then(function (response) {


                                var data = JSON.parse(response.data);
                                //response.data = data;
                                if (data.code = '000') {
                                    var array = [];
                                    //console.log(data.data.length);

                                    // array.push({ value: '000000', text: '-全部-' });
                                    for (var i = 0; i < data.data.length; i++) {
                                        array.push({ value: data.data[i].districtCode, text: data.data[i].districtName });
                                    }
                                    //console.log(array);
                                    console.log(array[0].text);
                                    this.countries.data = array;
                                    this.countries.selected = array[0].value;
                                }
                                else
                                    layer.msg(data.error);
                            })
                            .catch(function (response) {
                                console.log(response)
                            });
                    },
                    'countries.selected': function (val, old) {
                        this.changeCondition(this.plantypes.selected, -1);
                    },
                    'plantypes.selected': function (val, old) {
                        this.changeCondition(val, -1);
                    }
                },
                methods: {
                    query: function () {

                        this.$http.get("/api/PlatResource/QueryDistrict?mode=2")
                            .then(function (response) {
                                console.log(response);

                                var data = JSON.parse(response.data);
                                if (data.code = '000') {
                                    var array = [];
                                    // array.push({ value: '000000', text: '-全部-' });
                                    for (var i = 0; i < data.data.length; i++) {
                                        array.push({ value: data.data[i].districtCode, text: data.data[i].districtName });
                                    }
                                    console.log(array);
                                    console.log(array[0].text);
                                    this.states.data = array;
                                    this.states.selected = array[0].value;

                                    // var array1 = [];
                                    // array1.push({ value: '000000', text: '-全部-' });
                                    // this.countries.data = array1;
                                    // this.countries.selected = array1[0].value;
                                }
                                else
                                    layer.msg(data.error);
                            })
                            .catch(function (response) {
                                console.log(response)
                            });
                    },
                    changeCondition: function (pType, old) {
                        console.log(pType);
                        if (pType == "3" || pType == "31" || pType == "32" || pType == "33" || pType == "8") {
                            this.show = true;
                            if (pType == "8") {
                                $("#selectReplyUser").removeAttr('readonly');
                                $("#selectReplyTime").removeAttr('readonly');
                            }
                            else {
                                $("#selectReplyUser").attr('readonly', 'readonly');
                                $("#selectReplyTime").attr('readonly', 'readonly');
                                this.replyUser = '';
                                this.replyTime = '';
                            }
                            this.$http.get("/api/PlatResource/QueryRSProject"
                                + "?page=1"
                                + "&pageSize=1000"
                                + "&ennm="
                                + "&dscode=" + this.countries.selected//.substring(0, 4)
                                + "&drainage="
                                + "&encl="
                            ).then(function (response) {
                                console.log(response);

                                var data = JSON.parse(response.data);
                                if (data.code = '000' && data.data.length > 0) {

                                    var array = [];
                                    //console.log(data.data.length);

                                    // array.push({ value: '000000', text: '-全部-' });
                                    for (var i = 0; i < data.data.length; i++) {
                                        array.push({ value: data.data[i].ennmcd, text: data.data[i].ennm + '-[' + data.data[i].dsnm + ']' });
                                    }
                                    //console.log(array);
                                    //console.log(array[0].text);
                                    this.rsProjects.data = array;
                                    this.rsProjects.selected = array[0].value;
                                }
                                else {
                                    var array = [];
                                    array.push({ value: '', text: '无' });
                                    this.rsProjects.data = array;
                                    this.rsProjects.selected = array[0].value;
                                }
                            });
                        }
                        else {
                            this.show = false;
                            $("#selectReplyUser").attr('readonly', 'readonly');
                            $("#selectReplyTime").attr('readonly', 'readonly');
                            this.replyUser = '';
                            this.replyTime = '';
                            var array = [];
                            array.push({ value: '', text: '无' });
                            this.rsProjects.data = array;
                            this.rsProjects.selected = array[0].value;
                        }
                    },
                    viewDoc: function (index) {
                        // 预览预案
                        layer.msg(this.people[index].name);
                    },
                    deleteDoc: function (index) {
                        // 删除预案
                        //layer.msg(index);
                        layer.msg(this.people[index].name);
                        // 删除后使用，删一个数组元素
                        //this.people.splice(index,1);
                    }
                },
                created: function () {
                    console.log("created");
                },
                ready: function () {
                    console.log("mounted");

                    // var isIE = !!window.ActiveXObject;
                    // // var isIE6 = isIE && !window.XMLHttpRequest;
                    // //var isIE8 = isIE && !!document.documentMode;
                    // var userAgent = window.navigator.userAgent.toLowerCase();
                    // var version = $.browser.version;
                    // console.log(userAgent);
                    // console.log(version);
                    // //var isIE7 = isIE && !isIE6 && !isIE8;
                    // if (isIE || version == "11.0") {
                    //     // if (isIE6) {
                    //     //     alert("ie6");
                    //     // } else if (isIE8) {
                    //     //     alert("ie8");
                    //     // } else if (isIE7) {
                    //     //     alert("ie7");
                    //     // }

                    //     alert("IE 浏览器暂时无法上传文件，请更换谷歌浏览器操作！");
                    //     return;
                    // }

                    this.query(1);

                    //this.upLoad();
                    $filequeue = $(".demo .filelist.queue");
                    $filelist = $(".demo .filelist.complete");

                    $(".demo .dropped").dropper({
                        action: "/api/Anonymous/UploadEmergencyPlan",
                        maxSize: 1873741824,
                        postData: {
                            'state': this.states.selected,
                            'country': this.countries.selected,
                            'plantype': this.plantypes.selected,
                            'planlevel': this.planlevels.selected
                        }
                    }).on("start.dropper", onStart)
                        .on("complete.dropper", onComplete)
                        .on("fileStart.dropper", onFileStart)
                        .on("fileProgress.dropper", onFileProgress)
                        .on("fileComplete.dropper", onFileComplete)
                        .on("fileError.dropper", onFileError);
                },
                beforeUpdate: function () {
                    console.log("beforeUpdate");
                },
                updated: function () {
                    console.log("updated");
                    $('.tablelist tbody tr:odd').addClass('odd');
                },
                destroyed: function () {
                    console.log("destroyed");
                }
            });
        </script>
    </div>
</body>

</html>